In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import numpy as np
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML-Lab/enjoysport.csv')
data

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [8]:
concepts = np.array(data)[:,:-1]

In [10]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [12]:
target = np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [21]:
def train(con,tar):
  for i, val in enumerate(tar):
      if val == 'yes':
        hypothesis = con[i].copy()
        break
  for i, val in enumerate(con):
    if tar[i] == 'yes':
       for x in range(len(hypothesis)):
             if val[x] != hypothesis[x]:
                hypothesis[x] = '?'
             else:
                pass 
  return hypothesis

In [22]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']